.nav-menu, .bg-gradient{
	/*background: linear-gradient(135deg, rgb(13, 143, 26) 0%, rgb(167, 250, 42) 100%) !important;*/
    background: linear-gradient(135deg, rgb(23, 117, 23) 0%, rgb(23, 117, 23) 100%) !important;
}


.big-span{
	font-size: 5rem;
}

span{   
    color: #19751c;
}

i{
	color: #19751c;
}

.text-space{
	line-height: 0.5 !important;
}

.card-body{
	color: black;
	text-align: left;
}

.tagline {
    color: white !important;
}

.img-fluid {
    max-width: 15% !important;
}

.bg-index{
    background: url('../images/bg-2.jpg');
    background-size: auto;
    z-index: 2;
    background-color: blue;
}

.bg-body{
    background: url('../images/bg-1.jpg');
    background-size: cover;
    z-index: 2;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.color-overlay {
    width: 100%;
    height: 100%;    
    margin: 0 auto;
    position: absolute;
    background-color: #000;
    opacity: .746988;
    display: block;
}

.title, h2, h3, h4, h5, h6{
	color: #19751c;
}

h1{
    color: white;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #14941b #faf6fb #FFF;
    color: #633991;
}

.card.features:before {    
    background: linear-gradient(135deg, rgb(13, 143, 26) 0%, rgb(167, 250, 42) 100%) !important;    
}

.light-bg {
    background-color: #8bc34a4a !important;
}

.light-bg-2 {
    background-color: #ffffff4a !important;
}

h2, p{
    text-align: center !important;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: #0000008f;
}

.bg-green{
    background-color: #28a74585;
}

.text-warning{
    color: yellow !important;
}